<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="workbeat.connect" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"  />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="All"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

	<appSettings>
		<!-- 
			Para usar la misma BD todo el tiempo en los unit tests, se pone una ruta completa.
			Si solo se pone el nombre de archivo, se genera una DB cada test run.
		-->
		<add key="SQLiteDBFile" value="C:\Github\Workbeat\Workbeat.Connect\\UnitTests\\bin\Debug\Workbeat.Connect.db.sqlite"/>

		<add key="SQLiteClientName" value="MIDBSQLite"/>
		<add key="MIDBSQLite_DBFile" value="C:\Github\Workbeat\Workbeat.Connect\\UnitTests\\bin\Debug\MIDBSQLite.db.sqlite"/>
		<add key="SQLiteSample_idOrgDefault" value="1"/>
		

		<!-- Client_id y client_secret proporcionados al dar de alta la aplicacion en Workbeat.com -->
		<add key="workbeat_client_id" value="8DC3C87D-7770-4EC3-942B-9DF26DD73FCF"></add>
		<add key="workbeat_client_secret" value="EEEF123B-88E9-4B29-A167-1482E8BB7D8E"></add>
		<add key="workbeat_api_url" value="http://localhost:3000/"></add>






	</appSettings>

	<workbeat.connect>
		<add key="clientType" value="SQLiteSample"></add>
		<add key="SQLiteSample_DllReference" value="C:\Github\Workbeat\Workbeat.Connect\Workbeat.ClientConnector.SampleSQLiteDB\bin\Debug\Workbeat.ClientConnector.SampleSQLiteDB.dll"></add>
		<add key="SQLiteSample_ClientDalNamespace" value="Workbeat.ClientConnector.SampleSQLiteDB.Dal"></add>
		<add key="SQLiteSample_ClientEntityNamespace" value="Workbeat.ClientConnector.SampleSQLiteDB.Entities"></add>
		<add key="SQLiteSample__ClientWBMCSHandlerClass" value="Workbeat.ClientConnector.SampleSQLiteDB.WBMCS.WBMessageHandler"></add>

		
		<add key="FlatFile_DllReference" value=""></add>
		<add key="FlatFile_ClientDalNamespace" value="Workbeat.ClientConnector.FlatFile"></add>

	</workbeat.connect>
	
	<log4net debug="false">
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" /> 
			<!--
			<appender-ref ref="ConsoleAppender" />
			 <appender-ref ref="AdoNetAppender" />
			-->
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Github\Workbeat\Workbeat.Connector.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="3" />
			<maximumFileSize value="9MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss}] %-5p %logger.%method : '%message'%n" />
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
<!--
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="100" />
			<connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.98.0, Culture=neutral" />
			<connectionString value="Data Source=C:\\Github\\Workbeat\\Workbeat.Connect\\UnitTests\\bin\\Debug\\Workbeat.Connect.db.sqlite;Version=3;" />
			<commandText value="INSERT INTO Log (Date, Level, Logger, Message) VALUES (@Date, @Level, @Logger, @Message)" />
			<parameter>
				<parameterName value="@Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
		</appender>
-->
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>


	<system.net>
		<defaultProxy>
			<proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://localhost:8889" />
		</defaultProxy>
	</system.net>

</configuration>
